<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DalinUpdate</title>
</head>
<body>
<div>
		<img src="">
	</div>
	<div>
		<input type="image" name="dprofile" id="dprofile">
	</div>
	
	<div>
		<div>
			<hr>
		</div>
		<div>
			<h2>한줄소개</h2>
			<input type="text" name="dIntro" id="dIntro" style="border:none" value="한줄소개 글 작성" disabled="disabled">
		</div>
	</div>
	<div>
		<div>
			<hr>
		</div>
		<div>
			<h2>대표서비스</h2>
			<input type="text" name="dMainService" id="dMainService" style="border:none" value="대표서비스 글 작성" disabled="disabled">
		</div>
	</div>
	<div>
		<div>
			<hr>
		</div>
		<div>
			<h2>활동지역</h2>
			<input type="text" name="dArea" id="dArea" style="border:none" value="활동지역 글 작성" disabled="disabled">
		</div>
	</div>
	<div>
		<div>
			<hr>
		</div>
		<div>
			<h2>서비스 상세설명</h2>
			<input type="text" name="dDetailService" id="dDetailService" style="border:none" value="서비스 상세설명 글 작성" disabled="disabled">
		</div>
	</div>
	<div>
		<div>
			<hr>
		</div>
		<div>
			<h2>결제수단</h2>
			<input type="text" name="dPaymentMethod" id="dPaymentMethod" style="border:none" value="결제수단 상세설명 글 작성" disabled="disabled">
		</div>
	</div>
	<div>
		<div>
			<hr>
		</div>
		<div>
			<h2>사진</h2>
			<input type="image" src="이미지주소" name="dAttachmentNo" id="dAttachmentNo" style="border:none" disabled="disabled">
			<input type="image" src="이미지주소" name="dAttachmentNo" id="dAttachmentNo" style="border:none" disabled="disabled">
			<input type="image" src="이미지주소" name="dAttachmentNo" id="dAttachmentNo" style="border:none" disabled="disabled">
			<input type="image" src="이미지주소" name="dAttachmentNo" id="dAttachmentNo" style="border:none" disabled="disabled">
		</div>
	</div>
	<div>
		<div>
			<hr>
		</div>
		<div>
			<h2>리뷰</h2>
			<input type="text" name="" id="" style="border:none" value="별점 평균 점수 나와야함" disabled="disabled">
		</div>
	</div>
	<div>
		<div>
			<hr>
		</div>
		<div>
			<input type="text" name="rWriter" id="rWriter" style="border:none" value="제자이름" disabled="disabled">
			<input type="text" name="rScore" id="rScore" style="border:none" value="별점" disabled="disabled">
			<input type="text" name="rDate" id="rDate" style="border:none" value="작성 날자" disabled="disabled">
		</div>
		<div>
			<input type="text" name="rContent" id="rContent" style="border:none" disabled="disabled">
		</div>
	</div>

</body>
</html>