<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.icia.dal.entity.Jeja" alias="jeja"/>
		<typeAlias type="com.icia.dal.entity.Dalin" alias="dalin"/>
		<typeAlias type="com.icia.dal.entity.QnaBoard" alias="QnaBoard"/>
		<typeAlias type="com.icia.dal.entity.QnaComment" alias="QnaComment"/>
		<typeAlias type="com.icia.dal.entity.RequestBoard" alias="RequestBoard"/>
		<typeAlias type="com.icia.dal.entity.RequestPayment" alias="RequestPayment"/>
		<typeAlias type="com.icia.dal.entity.NowPayment" alias="NowPayment"/>
		<typeAlias type="com.icia.dal.entity.Review" alias="review"/>
		<typeAlias type="com.icia.dal.entity.ProfileAttachment" alias="profileAttachment"/>
		<typeAlias type="com.icia.dal.entity.Estimate" alias="estimate"/>
		<typeAlias type="com.icia.dal.entity.LessonHistory" alias="lessonhistory"/>
		<typeAlias type="com.icia.dal.entity.UseCash" alias="usecash"/>
		<typeAlias type="com.icia.dal.entity.Request" alias="request"/>
		<typeAlias type="com.icia.dal.entity.DetailField" alias="detailField"/>
		<typeAlias type="com.icia.dal.entity.Field" alias="field"/>
		<typeAlias type="com.icia.dal.entity.Memo" alias="memo"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="com.icia.dal.util.typehandler.LocalDateTimeTypeHandler"/>
	</typeHandlers>
</configuration>