<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="estimateMapper">
	
	<!-- 견적서 작성 -->
	<insert id="insertToEstimate">
		<selectKey>
			select estimate_seq.nextval from dual
		</selectKey>
		insert into estimate(e_no,d_mno,f_no,j_mno,r_no,d_email,e_money,e_content,e_tel_type,j_is_ok,e_cash, e_write_time)
		values(#{eNo},#{dMno},#{fNo},#{jMno},#{rNo},#{dEmail},#{eMoney},#{eContent},#{eTelType},0,1700, sysdate)
	</insert>
	
	<!-- 견적서 읽기 -->
	<select id="findByEstimate" resultType="estimate">
		select  e_no eNo, d_mno dMno, f_no fNo, j_mno jMno, r_no rNo, d_email dEmail, e_money eMoney, e_content eContent, e_tel_type eTelType, j_is_ok jIsOk, e_cash eCash, e_write_time eWriteTime 
		from estimate where e_no = #{eNo} and rownum=1
	</select>
	
	<!-- 견적서 목록 -->
	<select id="findAllByEstimateToDalin" resultType="estimate">
		<![CDATA[
			select * from
				(select e.*,rownum rnum from
					(select e_no eNo, d_mno dMno, f_no fNo, j_mno jMno, r_no rNo, d_email dEmail, e_money eMoney, e_content eContent, e_tel_type eTelType, j_is_ok jIsOk, e_cash eCash, d_name dName, e_write_time eWriteTime from estimate where d_mno=#{dMno}) e
				where rownum<=#{endRowNum})
			where rnum>=#{startRowNum}
		]]>			
	</select>
	
	<!-- 견적서 삭제 -->
	<delete id="deleteToEstimate">
		delete from estimate where e_no=#{eNo} and rownum=1
	</delete>
	
	<select id="countToEstimate" resultType="int">
		select count(*) from estimate where d_mno = #{dMno}
	</select>
	
	<update id="setIsOk">
		update estimate set j_is_ok=1 where e_no=#{eNo} and rownum=1
	</update>
	
	<select id="countToEstimateForJeja" resultType="int">
		select count(*) from estimate where j_mno = #{jMno}
	</select>
	
	<select id="findAllByEstimateToJeja" resultType="estimate">
		<![CDATA[
			select * from
				(select e.*,rownum rnum from
					(select e_no eNo, d_mno dMno, f_no fNo, j_mno jMno, r_no rNo, d_email dEmail, e_money eMoney, e_content eContent, e_tel_type eTelType, j_is_ok jIsOk, e_cash eCash, d_name dName, e_write_time eWriteTime from estimate where j_mno=#{jMno}) e
				where rownum<=#{endRowNum})
			where rnum>=#{startRowNum}
		]]>			
	</select>
	
</mapper>












